*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   display: flex;
}

.lista{
  
   display: flex;

}
.item{
    background-color: green;
    display: block;
    padding: 10px;
}
.item:hover{
    background-color:yellow;
}

.lateral{
    background-color: green;
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 8px;
    margin-left: 37px;
     
}
.item-lateral:hover{
    background-color: brown;
}

